<DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>

        {/* NavBar */}
        <nav>
            <div>
                <p>Local Lib</p>
                <ul>
                    <li>Catalog</li>
                    <li>My Books</li>
                    <li>About</li>
                </ul>
            </div>
        </nav>
        {/* NavBar */}

        {/* Site Content */}


        {/* Footer */}
        <footer>
            <div>
                <p>Socials</p>
                <ul>
                    <a href="https://www.github.com/thai-ru"><li>Github</li></a>
                    <a href="https://www.twitter.com"><li>Twitter</li></a>
                </ul>

                {/* TagLine */}
                <p>Local Library mangager &copy; 2023<p>
                <p>ThaisWave &reg; | Made with from N irobi</p>
            </div>
        </footer>
        {/* Footer */}

    </body>


</html>